@import url('./popup-login__close.css');
@import url('./popup-login__content.css');
@import url('./popup-login__title.css');
@import url('./popup-login__text.css');
@import url('./popup-login__footer.css');
@import url('./popup-login__link.css');
@import url('./popup-login_is-opened.css');

.popup-login {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  align-items: center;
  justify-content: center;
  z-index: 2;
  display: none;
}