.page {
  font-family: 'Inter', 'Helvetica', 'Arial', 'sans-serif';

}

.main-page {
  margin: 0 auto;
  position: relative;
  display: flex;
  padding: 0;
  box-sizing: border-box;
  max-width: 1440px;
}