.author__image {
  border-radius: 1000px;
  width: 464px;
  height: 464px;
  object-fit: cover;
  object-position: top;
  margin-right: 56px;
}

@media (max-width: 1024px) {
  .author__image {
    width: 232px;
    height: 232px;
  }
}