@import url(./author__container.css);
@import url(./author__description.css);
@import url(./author__image.css);
@import url(./author__main-text.css);
@import url(./author__title.css);

.author {
  background: #FFFFFF;
  height: 540px;
  display: flex;
  margin: 66px 216px 38px 104px;
}


@media (max-width: 1024px) {
  .author  {
  margin: 40px 40px 72px 40px;
  }
}