.search-results__title {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  color: #1A1B22;
  margin-bottom: 64px;
}

@media (max-width: 1024px) {
  .search-results__title {
    font-size: 30px;
    line-height: 34px;
    margin-bottom: 29px;
    margin-top: 10px;
  }
}