.main-menu__container {
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 104px;
  padding-right: 118px;
  height: 80px;
  border-bottom: 1px solid rgba(196, 196, 196, 0.01);
  box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
}

@media (max-width: 1024px) {
  .main-menu__container {
    height: 66px;
    padding-left: 40px;
    padding-right: 30px;
  }
}