.main-menu__button-open {
  display: none;
  background: none;
  border: none;
  background-color: inherit;
  cursor: pointer;
  padding: 0;
  margin: 0;
  background-image: url(../../images/menu.svg);
  width: 24px;
  height: 24px;
  z-index: 1;
}

@media (max-width: 720px) {
  .main-menu__button-open {
    display: block;
  }
}
