.cards__image {
  width: 400px;
  height: 272px;
  border-radius: 5%;
  margin-bottom: 20px;
}

@media (max-width: 1024px) {
  .cards__image {
    width: 224px;
    height: 150px;
    margin-bottom: 16px;
  }
}