@import url('./cards__date.css');
@import url('./cards__description.css');
@import url('./cards__image.css');
@import url('./cards__item.css');
@import url('./cards__source.css');
@import url('./cards__title.css');
@import url('./cards_button.css');
@import url('./cards__more-cards.css');
@import url('./cards__text-container.css');

.cards {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  max-width: 1232px;
}