.cards__item {
  max-width: 400px;
  max-height: 576px;
  margin-bottom: 16px;
  position: relative;
}

.cards__item:nth-of-type(3n+2) {
  margin-left: 16px;
  margin-right: 16px;
}


@media (max-width: 1024px) {
  .cards__item {
    max-width: 224px;
    max-height: 420px;
    margin-bottom: 8px;
  }
  .cards__item:nth-of-type(3n+2) {
    margin-left: 8px;
    margin-right: 8px;
  }
}

@media (max-width: 720px) {
  .cards__item {
    max-width: 288px;
    min-height: 440px;
    max-height: 446px;
    margin-bottom: 10px;
  }
}