.search__title {
  font-style: normal;
  font-family: 'Roboto Slab', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
  color: #FFFFFF;
  margin-top: 80px;
  margin-bottom: 38px;
}