.lead__title {
  font-style: normal;
  font-family: 'Roboto Slab', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
  color: #FFFFFF;
  padding-top: 160px;
  margin: 0 auto;
  max-width: 608px;
}