@import url('../blocks/header/header.css');
@import url('../blocks/search/search.css');
@import url('../blocks/page/page.css');
@import url('../blocks/search-results/search-results.css');
@import url('../blocks/search-form/search-form.css');
@import url('../blocks/main-menu/main-menu.css');
@import url('../blocks/cards/cards.css');
@import url('../blocks/author/author.css');
@import url('../blocks/footer/footer.css');
@import url('../blocks/circle-preloader/circle-preloader.css');
@import url('../blocks/not-found/not-found.css');
@import url('../blocks/popup-login/popup-login.css');
@import url('../blocks/popup-info/popup-info.css');
@import url('../blocks/popup-registration/popup-registration.css');
@import url('../blocks/form/form.css');
@import url('../blocks/main-page/main-page.css');
@import url('../blocks/overlay/overlay.css');

.element_not-visible {
  display: none;
}

@font-face {
  font-family: 'Roboto Slab';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/robotoslab-regular.woff') format("woff");
}

@font-face {
  font-family: 'Roboto';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/roboto-regular.woff') format("woff");
}

@font-face {
  font-family: 'Roboto';
  font-style:  normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/roboto-regular.woff') format("woff");
}

@font-face {
  font-family: 'Roboto';
  font-style:  normal;
  font-weight: 900;
  font-display: swap;
  src: url('../fonts/roboto-medium.woff') format("woff");
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style:  normal;
  font-weight: normal;
  font-display: swap;
  src: url('../fonts/sourcesanspro-regular.woff') format("woff");
}

@font-face {
  font-family: 'Roboto Slab';
  font-style:  normal;
  font-weight: bold;
  font-display: swap;
  src: url('../fonts/robotoslab-regular.woff') format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: normal;
  font-display: swap;
  src: url('../fonts/inter-regular.woff') format("woff");
}