@import url('./articles-info__subtitle.css');
@import url('./articles-info__title.css');
@import url('./articles-info__keywords.css');
@import url('./articles-info__keywords_bold.css');


.articles-info {
  display: flex;
  flex-direction: column;
  padding-top: 21px;
  padding-left: 96px;
}

@media (max-width: 1024px) {
  .articles-info {
    padding-top: 13px;
    padding-left: 41px;
  }
}

@media (max-width: 520px) {
  .articles-info {
    padding-top: 0;
    padding-left: 16px;
  }
}