.articles-info__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: rgba(26, 27, 34, 0.5);
}

@media (max-width: 1024px) {
  .articles-info__title  {
    font-size: 14px;
    margin-bottom: 0;
    }
  }

  @media (max-width: 520px) {
    .articles-info__title  {
      font-size: 12px;
    }
  }