@import url('./popup-info__close.css');
@import url('./popup-info__content.css');
@import url('./popup-info__title.css');
@import url('./popup-info__text.css');
@import url('./popup-info__footer.css');
@import url('./popup-info__link.css');
@import url('./popup-info_is-opened.css');

.popup-info {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  align-items: center;
  justify-content: center;
  z-index: 2;
  display: none;
}