@import url('./popup-registration__close.css');
@import url('./popup-registration__content.css');
@import url('./popup-registration__title.css');
@import url('./popup-registration__text.css');
@import url('./popup-registration__footer.css');
@import url('./popup-registration__link.css');
@import url('./popup-registration_is-opened.css');

.popup-registration {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  align-items: center;
  justify-content: center;
  z-index: 20;
  display: none;
}