<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Чечульникова Юлия">
  <meta name="description" content="Поиск новостей">
  <title>Главная страница</title>
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.chunks.main.css %>">
  <link rel="icon" href="<%=require('./images/favicon.svg')%>" type="image/x-icon">
</head>

<body class="main-page">
  <div class="page">
    <header class="header header_white">
      <nav class="main-menu">
        <div class="main-menu__container">
          <a class="main-menu__link main-menu__link_bold" href="./index.html">NewsExplorer</a>
          <div class="main-menu__list">
            <a class="main-menu__link main-menu__link_selected-white" href="./index.html">Главная</a>
            <a class="main-menu__link main-menu__link_gray-color personal" href="./personal.html">Сохранённые статьи</a>
            <button class="main-menu__button main-menu__button-login">Авторизоваться</button>
            <div class="main-menu__logout">
              <button class=" main-menu__button main-menu__button-logout">
                <span class="username"></span>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M10 6L6 6L6 18H10V20H6C4.89543 20 4 19.1046 4 18V6C4 4.89543 4.89543 4 6 4H10V6ZM17.5856 13L13.2927 17.1339L14.707 18.4958L21.4141 12.0371L14.707 5.57837L13.2927 6.9402L17.5856 11.0741H8V13H17.5856Z"
                    fill="white" />
                </svg>
              </button>
            </div>
          </div>
          <button class="main-menu__button-open"></button>
          <button class="main-menu__button-close"></button>
        </div>
      </nav>
      <section class="search">
        <div class="search__container">
          <h1 class="search__title">Что творится в мире?</h1>
          <p class="search__subtitle">Находите самые свежие статьи на любую тему и сохраняйте в своём личном кабинете.
          </p>
          <form class="search-form">
            <input class="search-form__input" type="text" placeholder="Введите тему новости" required>
            <button class="search-form__button">Искать</button>
          </form>
        </div>
      </section>
    </header>
    <div class="content">
      <section class="search-results">
        <template id="results-template" style="display: none;"></template>
        <div class="search-results__container element_not-visible">
          <h2 class="search-results__title">Результаты поиска</h2>
          <div class="cards">
          </div>
          <div class="cards__more-cards">
            <button class="cards__button cards__button-more selement_not-visible">Показать еще</button>
          </div>
        </div>
        <div class="search-results__preloader element_not-visible">
          <i class="circle-preloader"></i>
          <p class="circle-preloader__text">Идет поиск новостей...</p>
        </div>
        <div class="search-results__not-found element_not-visible">
          <img class="not-found__image" src="<%=require('./images/not-found.png')%>" alt="Лупа">
          <h3 class="not-found__title">Ничего не найдено</h3>
          <p class="not-found__text">К сожалению по вашему запросу
            ничего не найдено.</p>
        </div>
      </section>
      <section class="author">
        <div class="author__container">
          <picture>
            <source srcset="<%=require('./images/me_464.jpg')%>"media="(min-width: 1025px)">
            <source srcset="<%=require('./images/me_232.jpg')%>"media="(max-width: 1024px)">
            <source srcset="<%=require('./images/me_272.jpg')%>"media="(max-width: 520px)">
            <img class="author__image" src="<%=require('./images/me.png')%>" alt="Фото автора сайта">
          </picture>
          <div class="author__main-text">
            <h2 class="author__title">Об авторе</h2>
            <p class="author__description">Это блок с описанием автора проекта. Здесь следует указать, как вас зовут,
              чем вы занимаетесь, какими технологиями разработки владеете</p>
            <p class="author__description">Также можно рассказать о процессе обучения в Практикуме, чему вы тут
              научились, и чем можете помочь потенциальным заказчикам.</p>
          </div>
        </div>
      </section>
    </div>
    <footer class="footer">
      <p class="footer__copyright">&copy; 2020 Supersite, Powered by News API</p>
      <div class="footer__container">
        <div class="footer__item">
          <a class="footer__link" href="./index.html">Главная</a>
          <a class="footer__link" target="_blank" href="https://praktikum.yandex.ru">Яндекс.Практикум</a>
        </div>
        <div class="footer__item">
          <a class="footer__link" target="_blank" href="https://github.com/yuliya-pavlova">
            <img class="footer__image" src="<%=require('./images/gh.png')%>" alt="Ссылка на GitHub">
          </a>
          <a class="footer__link" target="_blank" href="https://www.facebook.com/profile.php?id=100001976997039">
            <img class="footer__image" src="<%=require('./images/fb.png')%>"  alt="Ссылка на Facebook">
          </a>
        </div>
      </div>
    </footer>
  </div>
  <div class="popup-login">
    <div class="popup-login__content">
      <img src="<%=require('./images/close.svg')%>" alt="Иконка крестика" class="popup-login__close">
      <h3 class="popup-login__title">Вход</h3>
      <form class="popup-login__form" name="formLogin">
        <label class="form__label" for="formLoginEmail">Email</label>
        <input type="email" name="email" id="formLoginEmail" class="form__input" placeholder="Введите почту">
        <span id="email-error" class="form__error"></span>
        <label class="form__label" for="formLoginPassword">Пароль</label>
        <input type="password" name="password" id="formLoginPassword" class="form__input" placeholder="Введите пароль">
        <span id="password-error" class="form__error"></span>
        <span id="server-error" class="form__error form__error_center"></span>
        <button class="form__button button login__button">Войти</button>
        <p class="popup-login__footer">
          <span class="popup-login__text">или </span>
          <button class="popup-login__link">Зарегистрироваться</button>
        </p>
      </form>
    </div>
  </div>
  <div class="popup-registration">
    <div class="popup-registration__content">
      <img src="<%=require('./images/close.svg')%>" alt="Иконка крестика" class="popup-registration__close">
      <h3 class="popup-registration__title">Регистрация</h3>
      <form class="popup-registration__form" name="formRegistration">
        <label class="form__label" for="formRegistrationEmail">Email</label>
        <input type="email" name="email" id="formRegistrationEmail" class="form__input" placeholder="Введите почту">
        <span id="email-error" class="form__error"></span>
        <label class="form__label" for="formRegistrationPassword">Пароль</label>
        <input type="password" name="password" id="formRegistrationPassword" class="form__input"
          placeholder="Введите пароль">
        <span id="password-error" class="form__error"></span>
        <label class="form__label" for="formRegistrationName">Имя</label>
        <input type="text" name="name" class="form__input" id="formRegistrationName" placeholder="Введите своё имя">
        <span id="name-error" class="form__error"></span>
        <span id="server-error" class="form__error form__error_center"></span>
        <button class="form__button button signUp__button">Зарегистрироваться</button>
        <p class="popup-registration__footer">
          <span class="popup-registration__text">или </span>
          <button class="popup-registration__link button">Войти</button>
        </p>
      </form>
    </div>
  </div>
  <div class="popup-info">
    <div class="popup-info__content">
      <img src="<%=require('./images/close.svg')%>" alt="Иконка крестика" class="popup-info__close">
      <h3 class="popup-info__title">Пользователь успешно зарегистрирован!</h3>
      <form class="popup-info__form" name="formRegistrationSuccessful">
        <button class="popup-info__link">Войти</button>
      </form>
    </div>
  </div>
  <div class="overlay"></div>
  <script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>
</body>

</html>