@import url('./header__nav.css');
@import url('./header__link.css');
@import url('./header_white.css');
@import url('./header_black.css');
@import url('./header__user.css');

.header {
  font-family: 'Inter', 'Helvetica', 'Arial', 'sans-serif';
  background: url(../../images/search.png) no-repeat 50%;
  background-size: cover;
  height: 576px;
}