@import url('./header__nav.css');
@import url('./header__link.css');

.header {
  font-family: 'Inter', 'Helvetica', 'Arial', 'sans-serif';
  background: url(../../images/search.png) no-repeat 50%;;
  background-size: cover;
  height: 576px;
}