@import url('./header__nav.css');
@import url('./header__link.css');

.header {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Inter', 'Helvetica', 'Arial', 'sans-serif';
  background-image: url(../../images/search.png);
  background-size: cover;
  height: 576px;
}